@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@Navigation.BaseUri" />
    <title>Chummer Session Web</title>
    <link rel="stylesheet" href="app.css" />
</head>
<body>
<Routes @rendermode="new InteractiveServerRenderMode()" />
<script src="session-api.js"></script>
<script src="session-storage.js"></script>
<script src="_framework/blazor.web.js"></script>
</body>
</html>
